.util-header {
    min-height: 60px;
    padding: 12px;
    text-align: center;
    border-bottom: solid 1px rgb(222, 222, 222);
}
.collapsable-row {
    min-height: 56px;
    padding: 6px 48px;
}

.flex-row {
    display: flex;
}

.filler {
    flex-grow: 1;
}
.flexitem-large {

}

.icon-wrapper-right {
    margin-right: 30px;
}
.content-label {
    font-size: 0.9em;
    margin-right: 12px;
}

.content-row {
    font-size: 1.1em;
}


@media screen and (max-width: 600px) {
    .collapsable-row {
        margin-left: 30px;
    }
}
