.collapsable-row {
    min-height: 56px;
    padding: 12px;
}

.flex-row {
    display: flex;
    flex-direction: column;
}

.content-label {
    font-size: 0.9em;
    margin-right: 12px;
}

.content-row {
    font-size: 1.1em;
}