body {
    background-color: rgb(244,244,244) !important;
    font-family: Roboto, Helvetica, 'sans-serif';
    margin: 0;
    padding: 0;
}

ul, ol, li, p {
    margin: 0;
    padding: 0;
}

.flex-spacer {
    flex-grow: 1;
}

.app-wrapper {
    height: 100vh;
    max-width: 900px;
    background-color: rgb(244,244,244);
    margin: 0 auto;
}

.content-wrapper {
    min-height: 1200px;
    width: 100%;
    border: solid 1px rgb(242, 197, 152);
    background-color: rgb(254,254,254);
}

.sub-header {
    min-height: 90px;
    padding: 24px;
    background-color: rgb(244,244,244);
    border-bottom: solid 1px rgb(222, 222, 222);
    color: rgb(55, 73, 85);
    text-align: center;
}

h1 {
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

.main-row {
    cursor: pointer;
    min-height: 48px;
    padding: 6px 36px;
}

.main-row:hover {
    background-color: rgb(232,232,232);
}

.main-row-title {
    font-size: 1.2em;
    line-height: 36px;
    margin-left: 10px;
}

.main-row > span {
    line-height: 36px;
}
.main-header {
    max-width: 900px;
    margin: 0 auto;
    min-height: 60px;
    background-color:rgb(55, 73, 85);
    border-bottom: solid 2px rgb(238, 120, 49);
}

.main-row-statusicon {
    float: left;
    padding-top: 6px;
}

.main-row-icon {
    float: right;
}

.row-read-content {
    cursor: pointer;
    float: left;
    width: 80%;
}

@media screen and (max-width: 600px) {
    li.main-row {
        padding: 6px 16px;
    }
    .row-read-content {
        font-size: 3vw;
    }
}
